/* 和居中无关的样式 */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #e2e1e0;
  background-size: cover;
  background-position: center;
}

.wrapper {
  //border: 1px solid red;
  resize: both;
  background: #f5f5f5;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  transition: 0.5s ease;

  &:hover {
    box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
      0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
      0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
  }

}

/* 居中相关样式 */
.wrapper {
  min-width: 30vw;
  max-width: 80vw;
  /* 不可设置定高 */
  // min-height: 30vw;
  // max-height: 80vw;
  padding: 0 30px;
  text-align: left;

  /* 行高 */
  line-height: 24px;
  padding: 8px 30px;
}

/* 父元素加行高 */
.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.child {
  border: 1px solid red;
}